.signOutButton {
    
    
}

.signOutButton:hover {
    cursor: pointer;
}

.navbarContainer {
    padding: 0 !important;
    background-color: #5ea885;
}

.navContainer {
    display: flex !important; 
    flex-direction: column !important;
    width: 100%;
}
